<style>
    .comment_div{
        display: flex;
        align-items: flex-end;
    }
    button{
        margin:3px;
    }

    .logout_div{
        display: flex;
        justify-content: space-between;
    }
</style>


<h1>Blog Feed</h1>
<hr/>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}


<div class="logout_div">
    <a href="{% url 'blog:makepost' %}">Create a new post</a>
    <form action="{% url 'blog:logout_view' %}" method="POST">
        {% csrf_token %}
        <button type="submit"> Logout </button>
    </form>
</div>



<div>
    <ul>
        {% for blo in blog %}
            <li>
                <a href="{% url 'blog:singlepost' blo.id %}">{{blo.title}}</a>  -by {{blo.user}}</li>
                <form action="{% url 'blog:blogfeed' %}" method="POST">
                    {% csrf_token %}

                </form>
        {% endfor %}
    </ul>
</div>

